body{
  padding: 20px;
  font-size: 1.2em;
}

.heading{
  color: #2b0d97;
  margin-top: 0;
}

.clear{
  margin-left: 300px;
  background-color: #777;
  padding: 5px 10px;
  box-sizing: content-box;
  color: #000;
}

.correct{
  color: green;
}

.incorrect{
  color: red;
}
